<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>

  <!-- Firebase SDKs -->
  <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
  <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
  <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-database.js"></script>

  <link rel="stylesheet" href="../css/login_style.css">
</head>

<body>

  <div class="form" id="loginform">
    <h1> 로그인 </h1>
    <form novalidate>
      <p class="email">
        <label for="email">이메일 로그인 <span>*</span>
        </label>
        <input class="input" required type="email" id="email" name="email" pattern="@" />

        <!-- 아이디 비번 안적었을때 나오는 문구 -->
        <span class="validation error"> Please enter a valid email</span>
        <span class="validation req"> This field is required</span>
      </p>

      <p class="password">
        <label for="password">비밀번호 <span>*</span></label>
        <input class="input" required type="password" id="password" name="password" />
        <span class="validation req"> This field is required</span>
      </p>

      <p class="login">
        <input type="submit" value="로그인" />
      </p>
      <p class="member">
        <input type="button" value="회원가입" />
      </p>
    </form>
  </div>
  <script src="../login.js"></script>



</body>

</html>