<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../css/register_style.css">

    <!-- Firebase SDKs -->
    <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>

</head>

<body>
    <div class="form">
        <h2>회원가입</h2>
        <form name="signupForm">
            <div>
                <label for="email">이메일:</label>
                <input type="email" id="email" class="typing" name="email" placeholder="e-mail 아이디" required>
            </div><br>

            <div>
                <label for="password">비밀번호:</label>
                <input type="password" id="password" class="typing" name="password" placeholder="비밀번호" required>
            </div><br>

            <div>
                <label for="confirm_password">비밀번호 확인:</label>
                <input type="password" id="confirm_password" class="typing" name="confirm_password"
                    placeholder="비밀번호 확인" required>
            </div><br>

            <div>
                <label for="height">키 (cm):</label>
                <input type="number" id="height" class="typing" name="height" placeholder="키 (cm)">
            </div><br>

            <div>
                <label for="weight">체중 (kg):</label>
                <input type="number" id="weight" class="typing" name="weight" placeholder="체중 (kg)">
            </div><br>

            <div>
                <label for="birthdate">생년월일:</label>
                <input type="date" id="birthdate" name="birthdate">
            </div>

            <div class="gender">
                <label>성별:</label>
                <label for="male">남성</label>
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="female">여성</label>
                <input type="radio" id="female" name="gender" value="female" required>
            </div>

            <div class="button-group">
                <input type="submit" value="회원가입" id="addUserBtn">
                <input type="button" value="취소" onclick="window.history.back()">
            </div>
        </form>
    </div>

    <script src="../register.js"></script>
</body>

</html>