<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../dashboard/css/dashboard_style.css">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <div class="circle" id="circle1">bmi</div>
        <div class="circle" id="circle2">칼로리</div>
        <div class="circle" id="circle3">활동량</div>
    </div>
    
    <div class="container">
        <div class="rectangle">영상 넣을 자리</div>
        <div class="rectangle">n일차 무사고 넣을 자리</div>
    </div>
    <div>
        <p>로그인 페이지 만들어지면 데이터 가져다 하게 변경</p><br>
    </div>

    <script src="../../dashboard/dashboard.js"></script>
</body>
</html>

