<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../dashboard/css/dashboard_style.css">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <div class="circle" id="bmiCircle">bmi</div>
        <div class="circle" id="bmrCircle">권장 섭취 칼로리</div>
        <div class="circle" id="exerciseCircle">권장 운동</div>
    </div>
    
    <div class="container">
        <div class="rectangle"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/6yKIke-VY7Q?si=P_pLv9v510et9Ddr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></iframe></div>
        <div class="rectangle"  id="usageDays">지금까지 함께 한 날</div>
    </div>
    <div>
        
    </div>

    <script src="../../dashboard/dashboard.js"></script>
</body>
</html>

