<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div>
        <table id="body" border="0" width="100%">
            <tbody align="center">
                <tr>
                    <td>
                        <!-- 버튼으로 바꿀것 -->
                        <p> 메뉴 1</p><br>
                        <p> 메뉴 2</p><br>
                        <p> 메뉴 3</p><br>
                        <p> 메뉴 4</p><br>
                        <p> 메뉴 5</p>
                  
                    </td>
                    <td >
                        <iframe src="../template/main_dashboard.html" frameborder="0" width="100%" height="500"></iframe>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>