<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동 확인 캘린더</title>
    <link rel = "stylesheet" href = "../../calendar/css/calendar_style.css" />
    <style>
    /* table_cal.css 파일 연결 */
    </style>
</head>
<!-- table을 이용한 calendar
  운동 여부를 묻고 true or false에 따라 class를 추가하고 삭제한다. == 운동 후 기록 가능, 잘못 기록 시 삭제 가능 -->
<body>
    <div class="yearMonth">
        <h2 id="year-month-title"></h2>
    </div>
    <table id="calendar">
        <div class = "day">
            <tr class="week">
                <td class = 'sunday'>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td class = 'saturday'>토</td>
            </tr>
        </div>

            <tbody id="calendar-body">
            </tbody>

        
    </table>

    <script src="../../calendar/calendar.js">
        
    </script>
</body>

</html>