/* html{
    background-color : rgb(244, 244, 238);
} */

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 14.28%;
  height: 100px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
} 

.todoCk {
  background-color: rgb(185, 224, 171);
  color : white;
}
/* 이미 선택된 날짜를 한 번 더 선택하고 true 값을 주었을 때 색상을 더 진하게 하고 싶다...
.todoAgain{
  background-color: rgb(154, 185, 142);
  color : white;
} 
*/
.week{
  background-color : rgb(222, 247, 247);
  font-size : 25px;
  font-weight: bold;
}

#year-month-title{
  font-size : 40px;
  text-align : center;
  margin : 20px;
}

td:hover{
  background-color: lightgrey;
  color : white;
}
/* 토요일과 일요일에 색상을 다르게 부여 */
.sunday{
  color : rgb(195, 37, 37);
}

.saturday{
  color : rgb(33, 33, 213);
}

#calendar-body{
  /* 날짜의 폰트 사이즈 부여 */
  font-size : 25px;
}

.lastNextMonth{
  /* 이전, 다음 달의 날짜에 배경색 부여 */
  background-color : rgb(197, 196, 196);
  color : ivory;
  font-size : 20px;
}

.today {
  background-color: #faefcc;
}

