body {
  background-color: #f2f2f2; /* 배경색 추가 */
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #636363; /* 색상 조정 */
  width: 350px; /* 너비 조정 */
  border-radius: 4px;
  margin: 20px auto; /* 위아래 여백 추가 */
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.container h2 {
  text-transform: uppercase;
  font-weight: bold; /* 글꼴 두껍게 변경 */
  font-size: 1.8em; /* 크기 조정 */
  text-align: center;
  margin: 0 0 20px; /* 아래쪽 여백 추가 */
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

.form-group {
  margin-bottom: 15px; /* 각 form-group 사이 여백 추가 */
}

[type="email"],
[type="password"],
[type="text"],
[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 1em; /* 폰트 크기 조정 */
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

[type="radio"] {
  margin-right: 5px; /* 라디오 버튼 간격 추가 */
}


.btn:hover {
  background-color: #45a049; /* 호버 시 색상 변경 */
}

[type="submit"] {
  display: block;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 5px 5px 0 0,
    inset 4px 4px 0 0 white;
  border: 2px solid; 
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  transition: background .3s;
  &:hover {
      background: lightcyan;
  }
}
[type="button"] {
  display: block;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 5px 5px 0 0,
    inset 4px 4px 0 0 white;
  border: 2px solid; 
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  transition: background .3s;
  &:hover {
      background: lightcyan;
  }
}
