<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2분할 루틴</title>
    <link rel="stylesheet" href="../css/routine_style.css" />
  </head>
  <body>
    <div class="container">
      <h1>초보자를 위한 2분할 루틴</h1>
      <table width="100%">
        <thead>
          <tr>
            <th>요일</th>
            <th>운동 부위</th>
            <th>추천 영상</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>월요일</td>
            <td>상체</td>
            <td>
              <iframe
                src="https://www.youtube.com/embed/YcaJlQ-LNKs"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </td>
          </tr>
          <tr>
            <td>화요일</td>
            <td>하체/어깨</td>
            <td>
              <iframe
                src="https://www.youtube.com/embed/6yKIke-VY7Q"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </td>
          </tr>
          <tr>
            <td>수요일</td>
            <td>휴식</td>
            <td></td>
          </tr>
          <tr>
            <td>목요일</td>
            <td>상체</td>
            <td>
              <iframe
                src="https://www.youtube.com/embed/Q_toHzda2Vo"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </td>
          </tr>
          <tr>
            <td>금요일</td>
            <td>하체/어깨</td>
            <td>
              <iframe
                src="https://www.youtube.com/embed/LJbGqXMCwHM"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </td>
          </tr>
          <tr>
            <td>토요일</td>
            <td>휴식</td>
            <td rowspan="2">
              <button class="back" onclick="window.location.href='index.html'">
                뒤로 가기
              </button>
            </td>
          </tr>
          <tr>
            <td>일요일</td>
            <td>휴식</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="./workout_routine.js" defer></script>
  </body>
</html>
