<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Example</title>
    <link rel="stylesheet" href="../css/workout_routine_style.css" />
  </head>
  <body>
    <div class="container">
      <div class="layout" data-url="routine1.html">
        <img src="../img/parkjehoon2.jpeg" alt="2분할" class="primary" />
        <img src="../img/parkjehoon.jpeg" alt="Alternate 1" class="secondary" />
        <p>초보자를 위한 2분할 루틴</p>
      </div>
      <div class="layout" data-url="routine2.html">
        <img src="../img/ronie.jpeg" alt="5분할" class="primary" />
        <img src="./ronie.webp" alt="Alternate 2" class="secondary" />
        <p>주말에는 쉬고 싶은 인사교 학생들을 위한 5분할 루틴</p>
      </div>
      <div class="layout" data-url="routine3.html">
        <img src="../img/cbum2.jpeg" alt="4분할" class="primary" />
        <img src="../img/cbum.jpeg" alt="Alternate 3" class="secondary" />
        <p>밸런스가 좋은 쌈@뽕한 4분할 루틴</p>
      </div>
    </div>
    <script src="../workout_routine.js" defer></script>
  </body>
</html>
