<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <button class="btn"></button> -->
    <link rel="stylesheet" href="../css/maPage_style.css">
 
    <!-- 파이어베이스 관련 서비스 추가 -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
</head>



<body>

    <div class="box" align="center">
        <form action="#" name="frm">
            <table id="updateForm">
                <tr>
                    <th colspan="2">
                        <h2>내 정보</h2>
                    </th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td><input type="text" name="userId" readonly></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="password" name="userPW"></td>
                </tr>
                <tr>
                    <td>비밀번호 확인</td>
                    <td><input type="password" name="userNewPW"></td>
                </tr>
                <tr>
                    <td>성별</td>
                    <td><input type="text" name="userGender" readonly></td>
                </tr>
                <tr>
                    <td>키</td>
                    <td><input type="text" name="userHeight"></td>
                </tr>
                <tr>
                    <td>몸무게</td>
                    <td><input type="text" name="userWeight"></td>
                </tr>
                <tr>
                    <td>생년월일</td>
                    <td><input type="text" name="userBirth" readonly></td>
                </tr>
            </table>
        </form>

    <br>

            <button type="submit" id="upBtn">수정</button><br>
            <button type="submit" id="delBtn">탈퇴</button>

    </div>

    <script>


    </script>
    <script src="../maPage.js"></script>

</body>

</html>