<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
 
<body>


    <div align="center">

    <table id="updateForm">
        <tr>
            <th colspan="2"><h2>내 정보</h2></th>
        </tr>
        <tr><th></th></tr>
        <tr>
            <td>ID</td>
            <td>${user.usesrId()}</td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="userPW" value="${.pw()}"></td>
        </tr>
        <tr>
            <td>비밀번호 확인</td>
            <td><input type="password" name="userNewPW" value="${.Newpw1()}"></td>
        </tr>
        <tr>
            <td>성별</td>
            <td><input type="text" name="height" value="${.usergender()}"></td>
        </tr>
        <tr>
            <td>키</td>
            <td><input type="text" name="height" value="${.userHeight()}"></td>
        </tr>
        <tr>
            <td>몸무게</td>
            <td><input type="text" name="weight" value="${.userWeight()}"></td>
        </tr>
        <tr>
            <td>BMI</td>
            <td><input type="text" name="BMI" value="${.userBMI()}"></td>
        </tr>
    </table>
    </div>
<br>
        <div align="center">  
            
            <!-- <input type="submit" value="수정" class="btn" onclick="updateInfoConfirm();">
            <input type="reset" value="취소" class="btn" onclick="javascript:window.location='main.jsp'">
            <input type="submit" value="탈퇴" class="btn" onclick="updateInfoConfirm();"> -->
            <button id="modify">수정</button>
            <button id="withdrawButton">탈퇴</button>

            
            <script src="../../myPage/maPage.js"></script>

        </div>
    </div>

<!--   
        let btn1 = document.querySelector("modify")
        btn1.addEventListener("click", ()=>{
            alert("수정하시겠습니까?")
        });
        
        let btn2 = document.querySelector()
        btn1.addEventListener("click", ()=>{
            alert("탈퇴하시겠습니까?")
        }) -->
    </form>
    </form>

    </script>

</body>
</html>