

body{
    margin: 0;
}

*{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column; /* 세로 방향으로 배치 */
}
.BtnContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

button {
    margin-left: 30px; /* 버튼 간격 조절 */
}

button {
    margin-top: 10px; /* 버튼 위에 간격 추가 */
    align-items: right;
}